<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>
<body>
  <%- include ('navbar', {links: links}) %>
  <head>
    <h1>Mini Message Board</h1>
    <h2>Do you have a message to share?</h2>
  </head>
  <main>
    <ul>
        <% messages.forEach((message) => { %>
        <%- include('messages/message', {message: message}) %>
        <% }) %>
    </ul>
  </main>
</body>
</html>
