<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>
<body>
  <header>
    <h1>Mini Message Board</h1>
    <h2>Do you have a message to share?</h2>
    <button>
      <a href="/new">
        New message
      </a>
    </button>
  </header>
  <main>
      <% messages.forEach((message) => { %>
        <div>
          <p>From: <%= message.user %> </p>
          <p>Message: <%= message.text %> </p>
          <p>Sent: <%= message.added %> </p>
          <button>
            <a href="/message/<%= message.id %>">Open</a>
          </button>
        </div>
      <% }) %>
  </main>
</body>
</html>
