body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: darkblue;
  background-color: aqua;
  margin: 20px;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

div {
  flex-grow: 1;
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid blue;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: left;
}

div button {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  text-align: left;
  padding: 1rem;
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid blue;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: whitesmoke;
  color: darkblue;
  border: 2px solid blue;
  outline: none;
  padding: 0.3rem;
}

label,
button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}

button {
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid blue;
  outline: none;
  padding: 10px 20px;
  align-self: center;
}

button:hover {
  background-color: blue;
  padding: 15px 30px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
